{% extends 'baseUser.html.twig' %}

{% block title %}Hello in world record{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/worldRecord/style.css') }}">
{% endblock %}

{% block body %}

    <form>
        <table>
            <tr>
                <th>Date</th>
                <th>Joueur</th>
                <th>Nombre de kills</th>
                <th>Legend</th>
                <th>Video</th>
            </tr>

            {% for article in worldRecord %}
               <tr id="colonneVideo">
                    <td>{{ article.getDate | date("m/d/Y") }}</td>
                    <td>{{ article.getPlayer }}</td>
                    <td>{{ article.getKills }}</td>
                    <td>{{ article.getLegend }}</td>
                    <td>
                        <iframe width="200" height="200" src="{{ article.getVideo  }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </td>
               </tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}
